
.portlet-decorate .portlet-content {
    background: #f6f4f4;
 }

.employeeDTO-list .header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 }

.header h2{
    font-size:22px;
    font-weight: 700;
 }

.header .btn {
    background-color: #00979E;
    color: white;
    margin-left: auto;
    width: 199px;
    height: 44px;
    font-size: 16px;
    align-content: center;
 }

.table tr th{
    font-size: 12px;
    font-weight: lighter;
    color: #ACACAC;
    font-weight: 600;
    padding-top: 15px;
 }

.table td {
    border-color: #f6f4f4;
    border-top-width: 1rem;
    }

.employeeDTO-list tbody tr td{
    font-size:16px;
  }

tbody .action-png{
    width: 40px;
 }

.update-link img{
    width: 20px;
    height: 12px;
}

.delete-link img{
    width: 14px;
    height: 12px;
}

.download-link img{
    width:16px;
    height:16px;
  }

.employeeDTO-list .pagination-items-per-page {
    display: none;
 }

.employeeDTO-list .pagination-results {
    display: none;
 }

.employeeDTO-list .pagination-bar{
    margin-left: auto;
 }


/* create-employeeDTO form */

.add-employeeDTO .lexicon-icon {
    display: none;
 }

.add-employeeDTO{
    margin-top: -15px;
 }

.add-employeeDTO .container{
    background-color: white;
    border-radius: 15px;
    padding: 40px 110px;
 }

.add-employeeDTO h2{
     margin-bottom: 30px;
     font-size: 26px;
     font-weight: 700;
 }

.add-employeeDTO .form-control {
    width: 415px;
    height: 62px;
 }

.add-employeeDTO .row .control-label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
 }

.submit-btn {
    margin-left: auto;
 }

.submit-btn button{
    background-color:#00979E;
    color:#ffffff;
    border-radius: 5px;
    width: 193px;
    height: 41px;
 }

.submit-btn .btn:hover {
    background-color: #00979E;
    border-color: #00979E;
    color: #ffffff;
}