
.portlet-decorate .portlet-content {
    background: #f6f4f4;
    padding: 1.5rem;
    padding-top: 0px;
 }

.employee-list .header{
    display: flex;
    align-items: center;
 }

.header h2{
    font-size:22px;
    font-weight: 700;
 }

.header .btn {
    background-color: #00979E;
    color: white;
    margin-left: auto;
    width: 199px;
    height: 44px;
    font-size: 16px;
    align-content: center;
 }

.employee-table .container-view {
    padding-top: 0.5rem;
    padding-bottom: 0px;
}

.table-column, .table-cell-contract, .table-autofit td, .table-autofit th {
    width: unset;
 }

.employee-table table thead tr th{
    font-size: 12px;
    color: #ACACAC;
    font-weight: 600;
    padding-top: 15px;
    background-color: #f6f4f4;
 }

.employee-table table tbody tr {
    height: 55px;
    width: 1110px;
 }

.employee-table table tbody td{
    border-color: #f6f4f4;
    border-top-width: 0.5rem;
    font-size:14px;
 }

.employee-table .table-list.table-striped tbody tr:nth-of-type(odd) td, .table-list.table-striped tbody tr:nth-of-type(odd) th {
    background-color: #ffffff;
}

.employee-table .table-list {
    border-style: none;
    border-top-style: solid;
 }

.employee-table .update-link img{
    width: 20px;
    height: 12px;
}

.employee-table .delete-link img{
    width: 14px;
    height: 12px;
}

.employee-table .download-link img{
    width:16px;
    height:16px;
  }

/* pagination */

.employee-list .pagination-items-per-page {
    display: none;
 }

.employee-list .pagination-results {
    display: none;
 }

.employee-list .pagination-bar{
    margin-left: auto;
 }

.pagination{
  margin-left: 773px;
 }

.page-item{
    margin-left: 0px;
    margin-right: 12.5px;
 }

.page-item:first-child .page-link{
    width: 34px;
    height: 34px;
    border-radius: 50px;
	margin-right: 5px;
 }

.page-item:last-child .page-link {
	border-radius: 50px;
 }

.page-item .page-link{
    width: 34px;
    height: 34px;
	border-radius: 50px;
	border: 1px solid #898989;
	color: #898989;
 }

.page-item a{
    text-decoration: none;
 }

.page-item.active .page-link {
    background-color: #898989;
    border-color: #898989;
    color: #ffffff !important;
 }

li.page-item.disabled {
    margin-right: 25px !important;
 }

.lfr-search-container-wrapper a:not(.component-action):not(.btn) {
    text-decoration: none;
 }

.lfr-action-column a{
    padding: 0px 6px;
 }

/* create-employee form */

.add-employee .lexicon-icon {
    display: none;
 }

.add-employee{
    margin-top: 20px;
 }

.add-employee .container{
    background-color: white;
    border-radius: 15px;
    padding: 40px 110px;
 }

.add-employee h2{
     margin-bottom: 30px;
     font-size: 26px;
     font-weight: 700;
 }

.add-employee .form-control {
    height: 62px;
 }

.add-employee .row .control-label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
 }

.submit-btn {
    margin-left: auto;
 }

.submit-btn button{
    background-color:#00979E;
    color:#ffffff;
    border-radius: 5px;
    width: 193px;
    height: 41px;
 }

.submit-btn .btn:hover {
    background-color: #00979E;
    border-color: #00979E;
    color: #ffffff;
}