.entity-portlet .card{
  height:120px;
  border: 2px solid #F2F2F2;
  border-radius: 8px;
  background-color: #F0F1F1;
}
.top-text{
  img{
    height: 25px;
    width:48px;
    margin-bottom:8px;
  }
  p{
    font-size:16px;
    font-weight:500;
    color:#6C6C6C;
  }
}
.bottom-text h1{
  font-size:30px;
  font-weight:800;
  color: black;
  text-align:right;
  margin-top: -10px;
}