<div class="container dashboard-card">
    <div class="card">
        <div class="left">
            <img src="[resources:save]"
                 alt="cap"
                 data-lfr-editable-id="img1"
                 data-lfr-editable-type="image"/>
            <p class="title"
               data-lfr-editable-id="txt1"
               data-lfr-editable-type="text">
                Employees
            </p>
        </div>
        <div class="right">
            <h1 data-lfr-editable-id="txt2"
                data-lfr-editable-type="text">
                25
            </h1>
        </div>
    </div>
</div>
